@media (max-width: 1024px) {
    .container-tasbar {
        display: none;
    }
    .banner__primary .container__imgLarge {
        width: 100%;
    }
    .container__row-card {
        width: calc(25% - 20px);
    }
    .header {
        background: rgb(209, 111, 111);
    }
    .header__search {
        display:none;
    }
    
    .header__menu {
        display:block;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .container__row-card {
        width: calc(25% - 20px);
    }
    .modal {
        width: 70%;
    }
    .header__right {
        margin-right: 10px;
    }
    .login_form_content {
        width: 50%;
    }
}

@media (max-width: 767px) {
    header {
        justify-content: space-between;
    }
    .header__logo {
        width: 100%;
    }
    .header__logo img {
        width: 30%;
        margin: 0 auto;
    }
    .container__row-card {
        width: calc(33.3333% - 20px);
    }
    #modal {
        width: 80%;
        /* display: block; */
        /* left: calc(50% - 300px); */

        /* transform: scale(1); */
    }
    .modal-body {
        flex-direction: column;
    }
    .modal-body-left {
        width: 100%;
        align-self: center;
    }
    .modal-body-left > .card__img {
        width: 60%;
        margin: 10px auto;
        height: inherit;
    }
    .modal-body-left .modal__img-list {
        width: 80%;
    }
    .modal-body-right {
        width: 100%;
        align-self: center;
    }

    .footer-container {
        flex-wrap: wrap;
    }
    .footer-container > div {
        width: calc(50% - 8px);
    }
    .header__right {
        margin-right: 10px;
    }
    .header__menu {
        display: block;
    }
    .login_form_content {
        width: 70%;
    }
    .list__cart {
        width: 70%;
    }
    .btn-add-to-cart {
        /* position: fixed;
        bottom: 0; */
    }
}
@media (max-width: 468px) {
    .container__row-card {
        width: calc(50% - 20px);
    }

    .footer-container {
        flex-direction: column;
    }
    .footer-container > div {
        width: 100%;
    }
    .header__login {
        display: none;
    }
    .login_form_content {
        width: 95%;
    }
    .cart__heading {
        font-size: 30px;
    }
    #modal {
        width: 90%;
        display: block;
        left: calc(50% - 180px);
    }
}
